      <tr>
        <td><%= team.display_name %></td>
        <td><%= team.display_alias %></td>
        <td><%= team.region.display_name %>-<%= team.display_realm %></td>
        <td><%= team.faction.display_name %></td>
        <td><%= team.payment_type.display_name %>: <%= team.payment_address %></td>
        <td><%= team.owner.display_name %></td>
        <td><%= team.team_status.display_name %></td>

        <td><%= link_to 'Edit', edit_team_path(team), remote: true %></td>
        <td><%= link_to 'Destroy', team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
      </tr>