
<div class="row">

  <div class="col-md-6">
    <div class="block-flat">
      <div class="header"><h3><%= @team.display_name %></h3></div>
      <div class="content">
        <div class="row">
          <div class="col-md-2 col-md-offset-1"><span style="font-weight:bold;">Alias</span></div>
          <div class="col-md-8"><%= @team.display_alias %></div>

          <div class="col-md-2 col-md-offset-1"><span style="font-weight:bold;">Owner</span></div>
          <div class="col-md-8"><%= link_to @team.owner.email, @team.owner %></div>

          <div class="col-md-2 col-md-offset-1"><span style="font-weight:bold;">Faction</span></div>
          <div class="col-md-8"><%= @team.faction.display_name %></div>

          <div class="col-md-2 col-md-offset-1"><span style="font-weight:bold;">Realm</span></div>
          <div class="col-md-8"><%= @team.display_realm %></div>

          <div class="col-md-2 col-md-offset-1"><span style="font-weight:bold;">Payment</span></div>
          <div class="col-md-8"><%= @team.payment_type.display_name %> to <%= @team.payment_address %></div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-8">
            <%= link_to edit_team_path(@team), class: 'btn btn-default' do %>
            <i class="fa fa-pencil"></i>
            Edit
            <% end %>
            <%= link_to @team, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' do %>
            <i class="fa fa-trash"></i>
            Delete
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="block-flat">
      <div class="header"> <h3>Members</h3> </div>
      <div class="content" id="memberships">
        <%= render partial: @memberships %>
      </div>
      <div class="footer"> <%= link_to "Invite Member", new_team_invite_path(@team), remote: true, class: 'btn btn-primary' %> </div>
    </div>
  </div>
