<p id="notice"><%= notice %></p>

<h1>Listing Loot Options</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loot_options.each do |loot_option| %>
      <tr>
        <td><%= loot_option.name %></td>
        <td><%= link_to 'Show', loot_option %></td>
        <td><%= link_to 'Edit', edit_loot_option_path(loot_option) %></td>
        <td><%= link_to 'Destroy', loot_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loot option', new_loot_option_path %>
