<div class="row">
  <div class="col-md-1"><%= membership.status.to_s.titleize %></div>
  <div class="col-md-3"><%= membership.user.display_name %></div>
  <div class="col-md-4"><%= membership.user.email %></div>
  <div class="col-md-4">
    <% if can? :update, membership %>

    <% if membership.confirmed? %>

    <% unless membership.owner? %>

    <%= link_to promote_team_membership_path(membership.team, membership),
    method: :post,
    remote: true,
    data: {confim: 'Are you sure?'},
    class: 'btn btn-primary btn-xs' do %>
    <i class="fa fa-trophy"></i>
    <% end %>

    <%= link_to decline_team_membership_path(membership.team, membership),
    method: :post,
    remote: true,
    data: {confim: 'Are you sure?'},
    class: 'btn btn-danger btn-xs' do %>
    <i class="fa fa-ban"></i>
    <% end %>

    <% end %>

    <% else %>

    <%= link_to approve_team_membership_path(membership.team, membership),
    method: :post,
    remote: true,
    data: {confim: 'Are you sure?'},
    class: 'btn btn-success btn-xs' do %>
    <i class="fa fa-check"></i>
    <% end %>

    <%= link_to decline_team_membership_path(membership.team, membership),
    method: :post,
    remote: true,
    data: {confim: 'Are you sure?'},
    class: 'btn btn-danger btn-xs' do %>
    <i class="fa fa-ban"></i>
    <% end %>

    <% end %>

    <% end %>
  </div>
</div>
