<p>
  <strong>User:</strong>
  <%= @membership.user.display_name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @membership.team.display_name %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @membership.confirmed %>
</p>

<%= link_to 'Edit', edit_team_membership_path(@team, @membership) %> |
<%= link_to 'Back', team_memberships_path(@team) %>
