<%= simple_form_for([:admin, @event]) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.association :team, collection: @teams, input_html: { class: 'select2' } %>


  <%= f.input :event_timestamp, :as => :string, :input_html => {class: 'datetime'} %>

  <%= f.input :cutoff_timestamp, :as => :string, :input_html => {class: 'datetime'} %>

  <%= f.association :category, :include_blank => true, input_html: { class: 'select2' } %>
  <%= f.association :zone, :include_blank => true, input_html: { class: 'select2' } %>
  <%= f.association :difficulty, :include_blank => true, input_html: { class: 'select2' } %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>

