<%= simple_form_for([:admin, @event]) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.association :team, input_html: { class: 'chosen-select' } %>

  <%= f.label :event_timestamp %>
  <div class='input-group date datetimepicker'>
    <%= f.input :event_timestamp, :as => :string, label: false %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  
  <%= f.label :cutoff_timestamp %>
  <div class='input-group date datetimepicker'>
    <%= f.input :cutoff_timestamp, :as => :string, label: false %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <%= f.association :category, input_html: { class: 'chosen-select' } %>
  <%= f.association :zone, input_html: { class: 'chosen-select' } %>
  <%= f.association :difficulty, input_html: { class: 'chosen-select' } %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
  