<p id="notice"><%= notice %></p>

<% @events_by_date.each do |date, events| %>
<h3><%= date.to_s(:long_datetime) %></h3>
<% events.each do |event| %>
<table class="table table-condensed">
  <tr class="event-row faction-<%= event.team.faction.name %>">
        <td class="datetime"><%= event.event_timestamp.to_s(:datetime) %></td>
        <td class="title"><%= event.title %></td>
        <td class="team"><%= event.team.display_alias %></td>
        <td class="character"><%= event.character.try(:display_name) %></td>
        <td><%= link_to 'Show', admin_event_path(event) %></td>
        <td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
        <td><%= link_to 'Destroy', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
</table>
<% end %>
<% end %>

<br>

<%= link_to 'New Event', new_admin_event_path %>
