  
<%= link_to edit_admin_order_line_path(order_line), :class => 'list-group-item' do %>
<h5 class="list-group-item-heading"><%= order_line.customer.email %></h5>
<p class="list-group-item-text">
	<%= order_line.product.description.titleize %>	
</p>
<p class="list-group-item-text">
	<%= faction_sprite order_line.faction %>
	<%= character_sprite order_line.character %>
</p>
<p class="list-group-item-text">
	<%= category_sprite order_line.product.category %>
	<%= zone_sprite order_line.product.zone %>
	<%= difficulty_sprite order_line.product.difficulty %>
	<%= loot_option_sprite order_line.product.loot_option %>
	<%= play_style_sprite order_line.product.play_style %>
</p>


<% end %>