<div class="cl-mcont">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="fd-tile detail clean tile-purple">
        <div class="content"><h1 class="text-left"><%= @orders_dispatched.count %></h1><p>Scheduled Orders</p></div>
        <div class="icon"><i class="fa fa-calendar-check-o"></i></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="fd-tile detail clean tile-purple">
        <div class="content"><h1 class="text-left"><%= @orders_ready_to_dispatch.count %></h1><p>Pending Scheduling</p></div>
        <div class="icon"><i class="fa fa-calendar-times-o"></i></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="fd-tile detail clean tile-purple">
        <div class="content"><h1 class="text-left"><%= number_to_currency @unsettled_sale %></h1><p>Unsettled Funds</p></div>
        <div class="icon"><i class="fa fa-usd"></i></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="fd-tile detail clean tile-purple">
        <div class="content"><h1 class="text-left"><%= number_to_currency @unsettled_commission %></h1><p>Unsettled Commission</p></div>
        <div class="icon"><i class="fa fa-usd"></i></div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'order_lines_table', locals: {order_lines: @orders_dispatched, name: 'Dispached'} %>

<%= render :partial => 'order_lines_table', locals: {order_lines: @orders_past_due, name: 'Past Due'} %>

<%= render :partial => 'order_lines_table', locals: {order_lines: @orders_ready_to_dispatch, name: 'Ready to Dispatch'} %>

<%= render :partial => 'order_lines_table', locals: {order_lines: @orders_lead, name: 'Leads'} %>
