<p id="notice"><%= notice %></p>

<h1>Listing Play Styles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @play_styles.each do |play_style| %>
      <tr>
        <td><%= play_style.name %></td>
        <td><%= link_to 'Show', play_style %></td>
        <td><%= link_to 'Edit', edit_play_style_path(play_style) %></td>
        <td><%= link_to 'Destroy', play_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Play style', new_play_style_path %>
