<div id="contactCard">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Contact Details</h3>
      <div class="btn-group pull-right visible-xs">
        <a class="btn btn-primary pull-right hidden-xs" href="/contacts/rvQv8GcxZFaN/edit" data-toggle="modal" data-target="#editModal">
          <i class="fa fa-pencil"></i>
          <span>Edit</span>
        </a>
      </div>  

    </div>
    <div class="list-group">

      <% unless @customer.battle_tag.blank? %>
      <div class="list-group-item">
        <label>Battle Tag</label>
        <h4 class="list-group-item-heading"><%= @customer.battle_tag %></h4>
      </div>
      <% end %>

      <% unless @customer.skype.blank? %>
        <%= link_to "skype:#{@customer.skype}?chat", class: 'list-group-item' do %>
        <label>Skype</label>
        <h4 class="list-group-item-heading"><%= @customer.skype %></h4>
        <% end %>
      <% end %>


      <% unless @customer.email.blank? %>
        <%= mail_to @customer.email, class: 'list-group-item' do %>
        <%= gravatar_tag @customer.email, :size => 20, :html => { :class => "gravatar img-rounded pull-left" } %>
        <label>Email</label>
        <h4 class="list-group-item-heading"><%= @customer.email %></h4>
        <% end %>
      <% end %>

    </div>
  </div>
</div>