		<%= simple_form_for([:admin, @customer]) do |f| %>
		    <div class="form-inputs">
		    <%= f.input :email %>
		    <%= f.input :battle_tag %>
		    <%= f.input :skype %>

		  </div>
			<div class="btn-group">
				<%= f.button :submit, :class => "btn btn-primary btn-sm" %>
				<%= yield :buttons %>
			</div>
		<% end %>		