<div class="col-md-6 customer-show">
	<div class="panel panel-default">
		<table class="table table-condensed">
			<tr>
				<td colspan="2"><h3><%= mail_to @customer.email %></h3></td>
			</tr>

			<% if @customer.battle_tag.present? %>
			<tr>
				<th>Battle Tag</th>
				<td><%= @customer.battle_tag %></td>
			</tr>
			<% end %>

			<% if @customer.skype.present? %>
			<tr>
				<th>Skype</th>
				<td><%= skype_link(@customer.skype) %></td>
			</tr>
			<% end %>

		</table>
	</div>
</div>

<% if @completed_orders.any? %>

<div class="col-md-6 customer-show">
	<div class="panel panel-default">
		<table class="table table-condensed">
			<tbody>
				<tr>
					<th># Sales</th>
					<td><%= @customers_completed_orders.count(:sale) %></td>
				</tr>
				<tr>
					<th>Avg. Sale</th>
					<td><%= number_to_currency @customers_completed_orders.average(:sale) %></td>
				</tr>
				<tr>
					<th>Total Sales</th>
					<td><%= number_to_currency @customers_completed_orders.sum(:sale) %> </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="col-md-12 customer-show">
	<h3>Order History</h3>
	<div class="panel panel-default">
		<table class="table table-condensed">
			<% @completed_orders.each do |order_line| %>
			<tr>
				<td><%= link_to "##{order_line.order}", admin_order_line_path(order_line) %></td>
				<td><%= order_line.completed_at.to_s(:order_line) %></td>
				<td><%= order_line.product.category.display_name %></td>
				<td><%= order_line.product.difficulty.display_name %></td>
				<td><%= order_line.product.zone.display_name %></td>
				<td><%= order_line.product.display_name %></td>
				<td><%= order_line.product.mount.display_name %></td>
				<td style="text-align:right;"><%= number_to_currency order_line.sale %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<% end %>
<div class="col-md-12">
	<div class="btn-group">
		<%= link_to "Edit", edit_admin_customer_path(@customer), class: 'btn btn-primary' %>
	</div>
</div>
