<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th>Battle tag</th>
      <th>Skype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.battle_tag %></td>
        <td><%= customer.skype %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
