<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Battle tag:</strong>
  <%= @customer.battle_tag %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @customer.skype %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
