  <%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :classification %>
    <%= f.input :spec %>
    <%= f.association :armor_type %>
    <%= f.association :primary_stat %>
    <%= f.association :tier_token %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
