<li><a href="#"><i class="fa fa-cogs"></i><span>Options</span></a>
     <ul class="sub-menu">
          <%= nav_link('Armor Types', admin_armor_types_path) %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Categories', admin_categories_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Characters', admin_characters_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Classifications', admin_classifications_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Difficulties', admin_difficulties_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Factions', admin_factions_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Loot Options', admin_loot_options_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Mounts', admin_mounts_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Order Line Statuses', admin_order_line_statuses_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Payment Statuses', admin_payment_statuses_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Payment Types', admin_payment_types_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Play Styles', admin_play_styles_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Primary Stats', admin_primary_stats_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Products', admin_products_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Regions', admin_regions_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Team Statuses', admin_team_statuses_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Tier Tokens', admin_tier_tokens_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Zones', admin_zones_path %>
          <% end %>
     </ul>
</li>
