<p>
  <strong>Name:</strong>
  <%= @product.description %><br />
  <%= @product.category.display_name %><br />
  <%= @product.zone.display_name %><br />
  <%= @product.difficulty.display_name %><br />
  <%= @product.mount.display_name %><br />
  <%= @product.loot_option.display_name %><br />
  <%= @product.play_style.display_name %><br />
  
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
