<tr>
  <td><%= order_line.order %></td>
  <td><%= order_date_display(order_line) %></td>
  <td> <%= link_to order_line.customer.email, '#', :data => {:toggle=> 'modal', :target => "#customer_modal_#{order_line.customer.id}"} %> </td>
  <td><%= character_sprite order_line.character %></td>
  <td><%= order_line.product.category.display_name %></td>
  <td><%= order_line.product.difficulty.display_name %></td>
  <td><%= order_line.product.zone.display_name %></td>
  <td><%= order_line.product.display_name %></td>
  <td><%= order_line.product.loot_option.display_name %></td>
  <td><%= order_line.product.mount.display_name %></td>
  <td><%= number_to_currency order_line.contractor_payment %></td>
  <%= render :partial => "/order_lines/customer_details", locals: {customer: order_line.customer} %>
</tr>
