<br>
<div class="col-md-2">
  <%= active_link_to 'All', url_for(params.except(:status)), :active => :exact, class: 'btn btn-default btn-md btn-block'%>
  <%= active_link_to 'Scheduled', safe_params(:status => 'scheduled'), :active => :exact, class: 'btn btn-default btn-md btn-block'%>
  <%= active_link_to 'Completed', safe_params(:status => 'completed'), :active => :exact, class: 'btn btn-default btn-md btn-block' %>
  <%= active_link_to 'Lead', safe_params(:status => 'lead'), :active => :exact, class: 'btn btn-default btn-md btn-block'%>
  <%= active_link_to 'Paid', safe_params(:status => 'paid'), :active => :exact, class: 'btn btn-default btn-md btn-block'%>
</div>
<div class="col-md-10">
  <%= link_to 'New Order line', new_team_order_line_path(@team) %>
  <table class="table table-striped table-hover order-lines">
    <thead>
      <tr>
        <%= date_column_header %>
        <th>Order</th>
        <th>Product</th>
        <th>Customer</th>
        <th>Character</th>
        <th>Order Status</th>
        <th>Sale</th>
        <th>Merchant Fee</th>
        <th>Site Fee</th>
        <th>Contractor Payment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @order_lines.each do |order_line| %>
      <tr>
        <%= date_value order_line %>
        <td><%= order_line.order %></td>
        <td><%= order_line.product.display_name %></td>
        <td><%= order_line.customer.display_name %></td>
        <td><%= order_line.character.display_name %></td>
        <td><%= order_line.order_line_status.display_name %></td>
        <td><%= number_to_currency(order_line.sale) %></td>
        <td><%= number_to_currency(order_line.merchant_fee) %></td>
        <td><%= number_to_currency(order_line.site_fee) %></td>
        <td><%= number_to_currency(order_line.contractor_payment) %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <%= content_tag :li, (link_to 'Show', team_order_line_path(order_line.team, order_line)) if can? :read, order_line %>
              <%= content_tag :li, (link_to 'Edit', edit_team_order_line_path(order_line.team, order_line)) if can? :update, order_line  %>
              <%= content_tag :li, (link_to 'Mark Completed', team_order_line_complete_path(order_line.team, order_line)) if can? :complete, order_line unless order_line.order_line_status == OrderLineStatus.completed %>
              <%= content_tag :li, (link_to 'Destroy', team_order_line_path(order_line.team, order_line), method: :delete, data: { confirm: 'Are you sure?' }) if can? :destroy, order_line  %>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
