      <tr>
        <td><%= user.display_name %></td>
        <td><%= user.email %></td>
        <td><%= user.try(:battle_tag) %></td>
        <td><%= user.try(:skype) %></td>
        <td><%= render partial: 'user_role_form', locals: {user: user} %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user), remote: true %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
      </tr>