<div class="row">

  <div class="col-sm-6 bootcards-list">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Team Details</h3>
        <%= link_to edit_admin_team_path(@team), class: 'btn btn-primary btn-sm pull-right' do %>
        <i class="fa fa-pencil"></i>
        Edit
        <% end %>
      </div>
      <div class="list-group" id="team_details">
        <%= render :partial => '/teams/team_details', locals: {:team => @team} %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 bootcards-cards">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Members</h3>
      </div>
      <div class="list-group" id="approved_memberships">
        <%= render partial: '/memberships/membership', collection: @approved_memberships %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 bootcards-cards">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Membership Requests</h3>
      </div>
      <div class="list-group" id="pending_memberships">
        <%= render partial: '/memberships/membership', collection: @pending_memberships %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_admin_team_path(@team) %> |
<%= link_to 'Back', admin_teams_path %>
