<p id="notice"><%= notice %></p>

<h1>Listing Tier Tokens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tier_tokens.each do |tier_token| %>
      <tr>
        <td><%= tier_token.name %></td>
        <td><%= link_to 'Show', tier_token %></td>
        <td><%= link_to 'Edit', edit_tier_token_path(tier_token) %></td>
        <td><%= link_to 'Destroy', tier_token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tier token', new_tier_token_path %>
