<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.association :category %>
    <%= f.association :difficulty %>
    <%= f.association :zone %>
    <%= f.association :play_style %>
    <%= f.association :loot_option %>
    <%= f.association :mount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
