<%= javascript_tag do %>
categories = <%= raw @categories.to_json %>
loot_options = <%= raw @loot_options.to_json %>
difficulties = <%= raw @difficulties.to_json %>
play_styles = <%= raw @play_styles.to_json %>
mounts = <%= raw @mounts.to_json %>
zones = <%= raw @zones.to_json %>
products = <%= raw @products.to_json %>
<% end %>
<form action='' method="get">
<input type="submit" value="Save changes" />
</form>