<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product.display_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.display_name %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @product.zone.display_name %>
</p>

<p>
  <strong>Play style:</strong>
  <%= @product.play_style.display_name %>
</p>

<p>
  <strong>Loot option:</strong>
  <%= @product.loot_option.display_name %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @product.mount.display_name %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @product.difficulty.display_name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
