<li><%= link_to 'Admin Dashboard', admin_path %></li>
<%= render partial: '/layouts/admin_sales_links' %>
<%= render partial: '/layouts/admin_users_links' %>
<%= render partial: '/layouts/admin_options_links' %>
<%= render partial: '/layouts/admin_teams_links' %>
