      <% if user_signed_in? && current_user.admin? %>
      <!-- Admin Links -->
      <li><%= link_to 'Admin Dashboard', admin_path %></li>
      <li><a href="#"><i class="fa fa-users"></i>  Users</a>
        <ul class="list-unstyled">
          <li class="sub-nav"><%= link_to 'Members', admin_users_path%></li>
          <li class="sub-nav"><%= link_to 'Customers', admin_customers_path %></li>
          <li class="sub-nav"><%= link_to '<i class="fa fa-plus"></i> Add Customer'.html_safe, new_admin_customer_path %></li>

        </ul>
      </li>
      <li><a href="#"><i class="fa fa-cogs"></i>  Options</a>
        <ul class="list-unstyled">
          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Armor Types <span class="icon"></span>'.html_safe, admin_armor_types_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Categories <span class="icon"></span>'.html_safe, admin_categories_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Characters <span class="icon"></span>'.html_safe, admin_characters_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Classifications <span class="icon"></span>'.html_safe, admin_classifications_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Difficulties <span class="icon"></span>'.html_safe, admin_difficulties_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Factions <span class="icon"></span>'.html_safe, admin_factions_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Loot Options <span class="icon"></span>'.html_safe, admin_loot_options_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Mounts <span class="icon"></span>'.html_safe, admin_mounts_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Order Line Statuses <span class="icon"></span>'.html_safe, admin_order_line_statuses_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Payment Statuses <span class="icon"></span>'.html_safe, admin_payment_statuses_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Payment Types <span class="icon"></span>'.html_safe, admin_payment_types_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Play Styles <span class="icon"></span>'.html_safe, admin_play_styles_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Primary Stats <span class="icon"></span>'.html_safe, admin_primary_stats_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Products <span class="icon"></span>'.html_safe, admin_products_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Regions <span class="icon"></span>'.html_safe, admin_regions_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Team Statuses <span class="icon"></span>'.html_safe, admin_team_statuses_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Tier Tokens <span class="icon"></span>'.html_safe, admin_tier_tokens_path %>
          <% end %>

          <%= content_tag :li, class: 'sub-nav' do %>
          <%= link_to 'Zones <span class="icon"></span>'.html_safe, admin_zones_path %>
          <% end %>
        </ul>
      </li>
      <!-- End Admin Links -->
      <% end %>
