<% if user_signed_in? %>
<li><a href="#"><i class="fa fa-trophy"></i>  Teams</a>
    <ul class="list-unstyled">

        <% if current_user.admin? %>

        <%= content_tag :li, class: 'sub-nav' do %>
        <%= link_to 'Create Team', new_admin_team_path %>
        <% end %>
        <%= content_tag :li, class: 'sub-nav' do %>
        <%= link_to 'Team Admin', admin_teams_path %>
        <% end %>
        <%= content_tag :li, class: 'sub-nav' do %>
        <%= link_to 'Membership Admin', admin_memberships_path %>
        <% end %>

        <% end %>

        <% if current_user.approved_teams.any? %>
        <% current_user.approved_teams.each do |team| %>

        <%= content_tag :li, class: 'sub-nav' do %>
        <%= link_to team.display_name, team %>
        <% end %>

        <% end %>
        <% else %>
        <li class="sub-nav">no teams</li>
        <% end %>
    </ul>
</li>
<% end %>
