<% if user_signed_in? && current_user.approved_teams.any? %>
<li><a href="#"><i class="fa fa-trophy"></i>  My Teams</a>
  <ul class="list-unstyled">
    <% current_user.approved_teams.each do |team| %>
    <%= content_tag :li, class: 'sub-nav' do %>
    <a href="#"><%= team.display_name %></a>
    <ul class="list-unstyled">

      <%= sub_nav_link('Dashboard', team, 'dashboard') %>
      <%= sub_nav_link('Sales', team_order_lines_path(team), 'diamond') %>
      <%= sub_nav_link('Schedule', team_events_path(team), 'calendar') %>
      <!-- sub_nav_link('Members', team_mebmers_path, 'users') -->
    </ul>
    <% end %>
    <% end %>
  </ul>
</li>
<% end %>
